body {
  max-width: 50rem;
  margin: 10px auto;
  display: flex;
  flex-direction: column;
}

.buttons {
  display: flex;
}

.nav {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}

.buttons button {
  margin-right: 10px;
}
